body, html {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  overflow: hidden;
  min-width: 970px;
}


.workspace {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
  justify-content: flex-start;
  background: url("/assets/Images/AboutUs.png") no-repeat center center fixed;
  background-size: cover;
  background-position: 0px 57px;

  min-width: 970px;
  
  position: fixed;
  height: 93vh;
  width: 100%;
  overflow: hidden;
}


