<div class="workspace">
  <div class="flexColumn" style="height: 10vh"></div>

  <div style="margin-left: 5%;">
    <div class="flexRow" style="margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1>What is TopSpeed Learning</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 0.1vh"></div>

    <div class="flexrow">
      <div class="card card-content">
        <div class="explainText">
          Learning is:
          <ul>
            <li>
              Understanding the material
            </li>
            <li>
              Identifying what you want to remember
            </li>
          </ul>
          
          TopSpeed:
          <ul>
            <li>
              Helps you assemble the material to learn.
            </li>                        
            <li>
              Guides your Studying and Recalling the facts
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

