<div class="workspace">
  <div class="flexColumn" style="height: 12vh"></div>

  <div style="margin-left: 5%">
    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color:#E67E22">Hunter Tutorials</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexrow">
      <div class="card card-content">
        <div class="explainText">
          <p>Online Tutorials available after login are being written to guide new users through the steps of setting
            up basic and advanced learning sessions.</p>
          <p>Tutorials consist of two parts:  Programmed Learning and Recall Exercises</p>
          <p><strong>Programmed learning</strong> is a document (or lecture), which presents material
            - in this case - about how to use both types of learning in TopSpeed.  Users fill-in-the-blanks 
            for material that is currently or was recently presented. 
            Based on the responses, PL can repeat previous material possibly with greater detail than
            was shown the first time, or it can skip forward in the lecture.
          </p>
          <p><strong>Recall exercises</strong> randomly choose questions about a subject and repeat them just often enough to 
            assure the user is able to recall the correct answer.  TopSpeed waits longer and longer times with 
            each correct answer based on the individual user.
          </p>
          <p>The <strong>Recall "Review"</strong> option used later the same day and perhaps a day or so later, 
            can be assure having firm recall.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

