<div class="workspace">
  <div class="flexColumn" style="height: 12vh"></div>

  <div style="margin-left: 5%">
    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color:#E67E22">See Some Examples</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexrow">
      <div class="card card-content">
        <div class="explainText">
          <p>The Engineering group is developing basic problem sets to try for yourself.
          </p>
          <p>After logging in, you find these under the <strong>HELP</strong> menu. When selected, they will 
            be copied to an area for you to modify as you wish.
          </p>
          <p>Fear not: you can reload the projects if you mess them up :-) </p>
          <p>There will be one of more Programmed Learning as well as Recall Exercises.
        </div>
      </div>
    </div>
  </div>

</div>

